header {
  background-color: rgb(0, 5, 20);
  display: flex;
  flex-flow: column wrap;
}

header .loading {
  color: white;
  text-align: end!important;
  width: 100%!important;
}

header > section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

header h1 {
  color: rgb(200, 200, 200);
  font-size: 28px;
  font-weight: 200;
}

header .user-data {
  align-items: center;
  background-color: #1A1720;
  border-radius: 50px;
  display: flex;
  height: 40px;
  padding-right: 10px;
  max-width: 130px;
}

header .image {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

header .image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

header .user-data h2 {
  align-items: center;
  color: white;
  display: flex;
  font-size: 16px;
  font-weight: 100;
  height: inherit;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80px;
}

nav {
  align-items: center;
  background-color: rgba(20, 25, 40);
  border-top: 1px solid white;
  color: white;
  display: flex;
  font-weight: 300;
  justify-content: center;
  padding: 0;
}

nav ul {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

header nav ul li {
  list-style: none;
  padding: 15px 30px;
}

header nav ul li:hover a {
  font-size: 18px;
}

nav ul li a {
  color: rgb(200, 200, 200);
  font-weight: 300;
  text-decoration: none;
}


.page-search header li:nth-child( 1 ) a {
  color: white;
  font-size: 20px;
}

.page-favorites header li:nth-child( 2 ) {
  color: white;
  font-size: 20px;
}

.page-profile header li:nth-child( 3 ) {
  color: white;
  font-size: 20px;
}
