.page-album h2 {
  font-weight: 100;
}

.page-album .container {
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

.page-album .album {
  background: linear-gradient(180deg, #664B44, #1A1720);
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  height: 450px;
  padding: 10px;
  width: 300px;
}

.page-album .album span:nth-child(2) {
  font-size: 30px;
  font-weight: 300;
}

.page-album .album span:nth-child(3) {
  font-size: 20px;
  font-weight: 200;
}

.page-album .album span {
  padding: 5px;
}

.page-album .abum img {
  width: 100%;
}

.left, .right {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 50%;
}

@media screen and ( max-width : 600px ) {

  .page-album .container {
    flex-wrap: wrap;
  }

  .left, .right {
    width: 100%;
  }

  .page-album .album {
    background: linear-gradient(180deg, #664B44, #1A1720);
    border-radius: 5px;
    color: white;
    height: auto;
  }

  .page-album .album span:nth-child(3) {
    font-size: 16px;
    font-weight: 300;
  }
  
  .page-album .music {
    border-bottom: 1px solid rgb(220, 220, 220);
  }
}
